#searchBar {
    padding: 10px;
    width: 60%;
    background-color: whitesmoke;
    border: solid 1px black;
    border-radius: 15px;
    margin-left: 20%;
    margin-top: 20px;
    font-size: 18px;
}

@media (max-width: 600px) {
    #searchBar {
        width: 85%;
        margin-left: 5%;
    }
}